TestTask2/TestProject/bin
TestTask2/TestProject/obj
TestTask2/TestTask/bin
TestTask2/TestTask/obj
TestTask2/TestTask.sln
TestTask2/TestProject/Folder.DotSettings.user
TestTask2/TestProject/.idea
TestTask2/TestTask/.idea
TestTask1/.idea
TestTask1/TestTask1.sln
TestTask1/TestTask1/bin
TestTask1/TestTask1/obj